<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VLCMidiRemote.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <VLCMidiRemote.Properties.Settings>
            <setting name="VLCPassword" serializeAs="String">
                <value>1234</value>
            </setting>
            <setting name="VLCAddress" serializeAs="String">
                <value>127.0.0.1:8080</value>
            </setting>
            <setting name="VLCPlaylist" serializeAs="String">
                <value>D:\Videos\sd.playlist.xspf</value>
            </setting>
            <setting name="VLCPath" serializeAs="String">
                <value>C:\Program Files\VideoLAN\VLC\vlc.exe</value>
            </setting>
        </VLCMidiRemote.Properties.Settings>
    </userSettings>
</configuration>
